/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Verdana, sans-serif;
}
.site-header img{
  width: 20em;
  float: center;
  margin: 0 1em;
}
img {
  max-width: 100%;
}
p {
  font-size: 1em;
}
.site-header {
  padding: 1.25em 0;
}
.container {
  max-width: 75em;
  margin: 0 auto;
}
.bar {
  background-color: RGB(202, 42, 29);
  overflow: hidden;
}
.main-nav {
  padding: 1.25em 0em;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.fo img{
  max-width: 60%;
}
.main-content {
  float: center;
  margin-top: 2.5em;
  padding: 0;
}
@media (min-width: 768px) {
  .main-content {
    width: 105%;
    float: left;
    padding: 0 3.75em 0 0;
  }
  .sidebar {
    width: 30%;
    float: right;
    padding: 0;
    margin-top: 2.5em;
  }
}
.main-nav a:hover {
  background-color: RGB(78, 173, 248);
}
.main-nav a {
  color: RGB(78, 173, 248);
  text-decoration: none;
  font-size: 1.375em;
  padding: 1.25em;
  text-align: center;
  display: block;
}
@media (min-width: 768px) {
  .main-nav a {
    display: inline;
  }
}
h2 {
  color: RGB(78, 173, 248);
  margin-bottom: 1.25em;
}
.entry {
  margin-bottom: 3.75em;
}
.entry:last-of-type {
  margin-bottom: 0;
}
.entry img {
  display: block;
}
@media (min-width: 768px) {
  .entry img {
    width: 18.75em;
    float: left;
    margin: 0 1.25em 0 0;
  }
}
.entry p {
  text-align: justify;
}
.copyright {
  background-color: RGB(78, 173, 248);
  padding: 1.25em 0;
}
